body{
    background: #404040;
    font-family: "Helvetica Neue";
    color: #aaaaaa;
    font-size: 13px;
    padding-top: 32px;
    display: flex;
}
header{
    background: #4d4d4d;
    position: fixed;
    top: 0; 
    left: 0;
    height: 32px;
    line-height: 32px;
    width: 100%;
}
header a{
    padding-right: 8px;
    padding-left: 8px;
    color: #6688aa;
    transition: color 0.256s;
}
header a:hover{
	color: #aaaaaa;
}
a{
    text-decoration: none;
    color: #6688aa;
}
a:hover{
    color: #aaaaaa;
}
#content{
    margin: 5px;
    display: flex;
}
#contact{
    position: absolute;
    right: 0px;
    margin: 5px;
}
.logo{    
    width: 50px;
    margin: 5px;
}
#lain{
    width: 100px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    margin: 5px;
}