body{
    background: #2c2c2c;
    font-family: "Helvetica Neue";
    color: #aaaaaa;
    font-size: 13px;
    padding-top:32px;
}
header{
    position: fixed;
    top: 0; 
    left: 0;
    height: 32px;
    line-height: 32px;
    width: 100%;
    background: #333333;
}
header a{
    text-decoration: none;
    padding-right: 8px;
    padding-left: 8px;
    color: #6688aa;
    transition: color 0.256s;
}
header a:hover{
	color: #aaaaaa;
}
img{
    width: 50px;
    height: 50px;
}