*{
	color: purple;
	font-family: serif;
}
h1{
	color:#00CC00;
}
h3{
	float:left;
	color:#800000;
}
img{
	height: 40px;
}
.proyecto{
	width:250px;
	padding:20px;
}
.nombre_alumno{
	color:black;
	font-weight: bold;
}
.año{
	display:flex;
	color: #800000;
}
.titulo_proyecto{
	color: #6600CC;
}
